/* You can add global styles to this file, and also import other style files */

.p-t-1 {
    padding-top: 1rem;
}

.w-100p {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.w-7rem{
    width: 7rem;
}

.m-b-1{
    margin-bottom: 1rem;
}